*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: calc(100% - 330px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 31.84px;
}
.header .row{
    justify-content: space-between;
}
.list ul{
    display: flex;
    gap: 60px;
}
.list a{
    color: #3A3845;
}
.icons ul{
    display: flex;
    gap: 24px;
}
.menu{
    display: none;
}
@media screen and (min-width:320px) and (max-width:991px) {
    .container{
    width: calc(100% - 40px);
    }
    .list{
        display: none;
    }
    .icons_hidden{
        display: none;
    }
    .menu{
        display: block;
    }
}
.collictions .row{
    gap: 30px;
}
    .colliction{
        text-align: center;
        width: calc((100% - 90px) / 4);
    }
    .colliction img{
        width: 100%;
    }
@media screen and (min-width:600px) and (max-width:991px){
  .colliction{
        width: calc((100% - 30px) / 2);
    }
}
  @media screen and (min-width:320px) and (max-width:599px){
.colliction{
        width: 100% ;
    }
 }
 .shop{

    display:flex;

    width:100%;

    height:420px;

    margin-top:80px;
}
 .left{
    width: calc(100% );
 }
 .left{
    width:50%;
    background:#F8F8F8;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.left h2{

    font-size:38px;
    line-height:50px;
    color:#3A3845;
    margin-bottom:25px;
    font-family: serif;
}
.left p{

    width:70%;
    font-size:16px;
    color:#727171;
    line-height:28px;
    margin-bottom:40px;
}
.left a{
    color:#333;
    font-weight:bold;
    text-decoration:underline;
    letter-spacing:1px;
}
.right{

    width:50%;

    overflow:hidden;
}
.right img{

    width:100%;

    height:100%;

    object-fit:cover;
}
@media (max-width:768px){

.shop{
    flex-direction:column;
    height:auto;
}
.left{

    width:100%;
    padding:50px 30px;
}
.right{
    width:100%;
    height:100%;
}

}