*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: calc(100% - 330px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 31.84px;
}
.header .row{
    justify-content: space-between;
}
.list ul{
    display: flex;
    gap: 60px;
}
.list a{
    color: #3A3845;
}
.icons ul{
    display: flex;
    gap: 24px;
}
.menu{
    display: none;
}
@media screen and (min-width:320px) and (max-width:991px) {
    .container{
    width: calc(100% - 40px);
    }
    .list{
        display: none;
    }
    .icons_hidden{
        display: none;
    }
    .menu{
        display: block;
    }
}
.collictions .row{
    gap: 30px;
}
    .colliction{
        text-align: center;
        width: calc((100% - 90px) / 4);
    }
    .colliction img{
        width: 100%;
    }
@media screen and (min-width:600px) and (max-width:991px){
  .colliction{
        width: calc((100% - 30px) / 2);
    }
}
  @media screen and (min-width:320px) and (max-width:599px){
.colliction{
        width: 100% ;
    }
 }
